// Overrides for current styles
// this file can be dropped once this is integrated into
// the new version of the website
// Please do keep in mind, that the only purpose of this file is
// to forcefully override the current styles to make it play nice
.__patch__main-container {
	margin-top: 78px !important;
}

.main-nav__left__link, .megamenu__sidebar__link--active {
	&:hover, &:active, &:focus {
		color: @white;
	}
}

.megamenu__sidebar__link:not(.megamenu__sidebar__link--active) {
	&:hover, &:active, &:focus {
		color: @darkGrey;
	}
}

.main-nav {
	font-family: @roboto;
	a {
		&:hover, &:active, &:focus {
			text-decoration: none;
		}
	}
}

.main-nav__outer-wrapper {
	background: #033B56;
}
