.content {
	margin: 30px 0;
}

.content__wrapper {
	.wrapper;
	display: flex;
	align-items: flex-start;
}

.content__box-background {
	padding: 20px;
	width: 100%;
	background: @white;
	.dropshadow;
	margin-bottom: 30px;
}

.content__top-meta {
	padding: 0 30px;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	color: @darkerGrey;
	font-size: 14px;
}

.content__top-meta__infos {
	display: flex;
	flex-direction: column;
}

.content__top-meta__avatar, .content__author__avatar {
	width: 62px;
	height: 62px;
	border-radius: 50%;
	border: 1px @lightGrey solid;
	margin-right: 15px;
	background-size: cover;
	background-position: center center;
}

.content__top-meta__author {
	margin-bottom: 10px;
}

.content__top-meta__author-name {
	font-weight: @bold;
	&:before {
		// The space is used instead of pixel margins here
		// to keep the spacing consistent with the font size
		content: ' ';
	}
}

.content__top-meta__read-time {
	margin-left: 20px;
	font-weight: @light;
}

.content__top-meta__read-time-icon {
	margin-right: 5px;
}

.content__sidebar {
	width: 270px;
	flex-shrink: 0;
	margin-left: 30px;
}

.content__sidebar__toc {
	background: @lightBlue;
	padding: 30px;
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}

.content__sidebar__header {
	color: @white;
}

.content__sidebar__link {
	margin-top: 20px;
	color: @white;
	font-weight: @light;
	line-height: 24px;
}

.content__content {
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
}

.content__content__top-header {
	color: @darkerGrey;
	font-weight: @bold;
	font-size: 24px;
}

.content__content__sub-header {
	font-weight: @bold;
	font-size: 18px;
}

.content__content__text {
	font-weight: @light;
	font-size: 18px;
	line-height: 28px;
}

.content__content__pullquote {
	font-family: @georgia;
	font-size: 22px;
	line-height: 32px;
	font-weight: @bold;
	text-align: center;
	position: relative;
	padding: 30px;
	margin-bottom: 30px;
	&:before, &:after {
		display: block;
		height: 3px;
		width: 45%;
		background: @orange;
		position: absolute;
		content: '';
	}
	&:before {
		top: 0;
		right: 30px;
	}
	&:after {
		bottom: 0;
		left: 30px;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

.content__content__top-header, .content__content__sub-header, .content__content__text {
	padding: 0 30px;
	margin: 0 0 30px;
	&:last-child {
		margin-bottom: 0;
	}
}

.content__content__image {
	width: 100%;
	height: auto;
	margin-bottom: 30px;
}

.content__content__link {
	color: @lightBlue;
	font-weight: @bold;
}

.content__content__external {
	.dropshadow;
	border: 1px @lightGrey solid;
	width: 520px;
	min-height: 140px;
	margin: 0 auto 30px;
	display: flex;
	border-radius: 4px;
	&:hover {
		text-decoration: none;
	}
}

.content__external__thumbnail {
	width: 150px;
	background-position: center center;
	background-size: cover;
	flex-shrink: 0;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.content__external__content {
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.content__external__header {
	display: flex;
	align-items: flex-start;
}

.content__external__title {
	font-size: 12px;
	font-weight: @bold;
	color: @darkerGrey;
	padding-top: 5px;
	padding-right: 10px;
}

.content__external__tag {
	background: @skyBlue;
	color: @white;
	padding: 4px 20px 2px;
	text-transform: uppercase;
	font-weight: @bold;
	font-size: 14px;
	margin-left: auto;
}

.content__external__description {
	margin-top: 10px;
	color: @darkGrey;
	line-height: 22px;
}

.content__external__link {
	color: @orange;
	font-size: 15px;
	margin: auto 0 0 auto;
	padding-top: 15px;
	&:after {
		.fa-pseudo;
		font-size: 12px;
		content: '\f054';
		margin-left: 5px;
	}
}

.content__content__cta-text {
	text-align: center;
	font-size: 20px;
	margin-bottom: 15px;
	font-weight: @medium;
}

.content__content__cta-button {
	text-decoration: none;
	color: @white;
	background: @lightBlue;
	align-self: center;
	padding: 10px 35px;
	border-radius: 3px;
	margin-bottom: 30px;
	border: 1px @lightBlue solid;
	&:hover {
		text-decoration: none;
		background: @white;
		color: @lightBlue;
	}
}

.content__author {
	padding: 20px 50px;
	background: @white;
	.dropshadow;
	display: flex;
	align-items: center;
}

.content__author__avatar {
	display: block;
	flex-shrink: 0;
	margin-right: 20px;
}

.content__author__description {
	font-size: 15px;
	line-height: 22px;
	font-weight: @light;
}

.content__author__link {
	color: @skyBlue;
	font-weight: @bold;
}
