.main-footer {
	margin-top: 30px;
}

.main-footer__wrapper {
	.wrapper;
	display: flex;
}

.main-footer__wrapper--centered {
	align-items: center;
}

.main-footer__links {
	background: @lightBlue;
	padding: 40px 0;

}

.main-footer__small-print {
	padding: 15px 0;
	background: @darkBlue;
}

.main-footer__column {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.main-footer__column--shrink {
	flex-grow: 0;
}

.main-footer__column-header {
	font-size: 18px;
	font-weight: @bold;
	margin-bottom: 25px;
	color: @white;
	padding-left: 15%;
}

.main-footer__link {
	color: @white;
	font-weight: @light;
	padding-left:15%;
	&:last-child {
		margin-bottom: 20px;
	}

	&:not(:last-child) {
		margin-bottom: 10px;
	}
}

.main-footer__left {
	margin-right: auto;
}

@media only screen and (max-width: 760px) {
	.main-footer__left {
		padding-bottom: 10px;
	}
}

.main-footer__right {
	margin-left: auto;
	display: flex;
	justify-content: space-evenly; 
}

.main-footer__small-print__link {
	font-size: 15px;
	color: @white;
	display:inline-block;
	&:not(:last-child) {
		margin-right: 30px;
	}
}

.main-footer__social-link {
	display: flex;
	width: 32px;
	height: 32px;
	background: @white;
	color: @darkBlue;
	text-decoration: none;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	border: 1px @white solid;
	&:hover {
		text-decoration: none;
		background: transparent;
		color: @white;
	}
	&:not(:last-child) {
		margin-right: 10px;
	}
}

.main-footer__language-switch {
	color: @white;
	font-weight: @bold;
	font-size: 18px;
	text-decoration: none;
	display: flex;
	align-items: center;
	padding-left:15%;

	&:hover {
		text-decoration: none;
	}
	&:before {
		.fa-pseudo;
		content: '\f0ac';
		font-size: 20px;
		margin-right: 10px;
	}
	&:after {
		.fa-pseudo;
		content: '\f078';
		margin-left: 8px;
		font-size: 14px;
	}
}
