.hero {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero--blue {
	position: relative;
	&:after {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: darken(@blue, 15%);
		opacity: 0.75;
		content: '';
	}
}

.hero__wrapper--short {
	min-height: 300px;
}

.hero__wrapper--tall {
	min-height: 650px;
}

.hero__wrapper {
	.wrapper;
	display: flex;
	flex-direction: column;
}

.hero__description {
	background: @white;
	margin-top: auto;
	padding: 15px 35px;
	display: flex;
	flex-direction: column;
}

.hero__description__header {
	font-size: 24px;
	font-weight: @bold;
	color: @black;
	margin-bottom: 10px;
}

.hero__description__content {
	font-weight: @light;
	line-height: 22px;
}
