.nav-button() {
	padding: 10px 20px;
	font-size: 16px;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

.main-nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

.main-nav__wrapper {
	.wrapper;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.main-nav__left__link {
	position: relative;
	font-size: 16px;
	color: @white;
	font-weight: @bold;
	text-decoration: none;

	&:hover {
		color: @white;
		text-decoration: none;
	}

	&:after {
		.fa-pseudo;
		content: '\f078';
		margin-left: 8px;
		font-size: 12px;
	}

	&:not(:last-child) {
		margin-right: 50px;
	}
}

.main-nav__left__link--active {
	&:before {
		display: block;
		content: '';
		height: 4px;
		width: 100%;
		background: @orange;
		position: absolute;
		bottom: -10px;
	}
	&:after {
		content: '\f077';
	}
}

.main-nav__logo {
	margin-right: 70px;
}

.main-nav__left {
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-nav__right {
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-nav__right__link {
	font-size: 15px;
	color: @white;
	text-decoration: none;
	margin-right: 20px;
}

.main-nav__button {
	.nav-button;
	background: @lightBlue;
	color: @white;
}


.navDesktop{
	display: block;
}

.navMobile{
	display: none;
}

@media only screen and (max-width: 760px) {
	.navDesktop {
		display: none;
	}
	.navMobile {
		display: block;
	}
}
