.megamenu__wrapper {
	.wrapper;
	position: relative;
}

.main-nav__megamenu {
	background: @white;
	width: 100%;
	border-radius: 5px;
	.dropshadow;
	position: relative;
	margin-top: 4px;
	display: none;
	flex-direction: column;
}

.main-nav__megamenu--active {
	display: flex;
}

.megamenu__arrow {
	position: absolute;
	display: none;
	content: '';
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 8px solid @white;
	top: -8px;
}

.megamenu__arrow--active {
	display: block;
}

.megamenu__big-link {
	width: 100%;
	background: @blue;
	color: @white;
	text-align: center;
	padding: 10px 0;
	font-weight: @bold;
	font-size: 15px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-top: auto;
	text-decoration: none;
}

.megamenu__big-link__text {
	margin-right: 10px;
}

.megamenu__content {
	display: flex;
}

.megamenu__sidebar {
	display: flex;
	flex-direction: column;
	width: 175px;
	background: @lighterGrey;
	border-top-left-radius: 5px;
	padding: 25px 0;
	flex-shrink: 0;
	align-items: center;
}

.megamenu__sidebar--right {
	background: @lightBlue;
	color: @white;
	border-top-left-radius: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 40px;
	width: 260px;
	font-weight: @bold;
	font-size: 18px;
	line-height: 30px;
}

.megamenu__sidebar--large {
	width: 400px;
}

.megamenu__sidebar__clipart-container {
	width: 70%;
	background: @skyBlue;
	.dropshadow;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}

.megamenu__sidebar__link {
	color: @darkGrey;
	text-decoration: none;
	padding: 10px 20px;
	font-weight: @bold;
	position: relative;
	width: 100%;
	&:not(:first-child) {
		margin-top: 10px;
	}
	&:after {
		.fa-pseudo;
		content: '\f054';
		font-size: 12px;
		position: absolute;
		top: calc(~'50% - 1px');
		transform: translateY(-50%);
		left: 65px;
	}
	&:hover, &.megamenu__sidebar__link--active {
		text-decoration: none;
		.dropshadow;
		background: @skyBlue;
		color: @white;
		&:after {
			color: @skyBlue;
		}
	}
}


.megamenu__links {
	display: flex;
	flex-direction: row;
	padding: 30px;
}

.megamenu__links__section {
	display: flex;
	flex-direction: column;
	width: 33.333%;
	&:not(:last-child) {
		padding-right: 50px;
	}
}

.megamenu__links__section--double {
	width: 66.666%;
	.megamenu__links__column {
		width: 45%;
	}
}

.megamenu__links__section--triple {
	width: 100%;
	.megamenu__links__column {
		width: 30%;
	}
}

.megamenu__links__columns {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.megamenu__link {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
	&:not(:last-child) {
		margin-bottom: 30px;
	}
}

.megamenu__links__header {
	font-size: 18px;
	color: @darkGrey;
	margin-bottom: 30px;
	font-weight: @bold;
	&:after {
		display: block;
		content: '';
		width: 100%;
		height: 2px;
		background: @lighterGrey;
		margin-top: 5px;
	}
}

.megamenu__link__title {
	color: @lightBlue;
	font-weight: @bold;
	margin-bottom: 5px;
}

.megamenu__link__desc {
	color: @darkGrey;
	font-weight: @light;
	line-height: 23px;
}

.megamenu__sidebar__button {
	.nav-button;
	margin-top: 30px;
	padding: 5px 30px;
	background: @orange;
	color: @white;
	font-weight: @regular;
}

.megamenu__sidebar__clipart {
	width: 75%;
	height: auto;
}

.megamenu__sidebar__header {
	font-size: 22px;
	font-weight: @bold;
}

.megamenu__sidebar__subtitle {
	margin-top: 15px;
	font-size: 16px;
	line-height: 20px;
	font-weight: @light;
	max-width: 175px;
	text-align: center;
}

//==============================================================
//Style for the mobile menu
//==============================================================

.sidenav {
	height: 70%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: white;
	overflow-x: hidden;
	transition: 0.3s;
	padding-top: 60px;
}

.mobile-menu {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 18px;
	display: block;
	transition: 0.3s;
	font-weight: bold;
	color: black;
	border-bottom: 1px ridge grey;
}

.link {
	color: @skyBlue;
	&:hover {
		text-decoration: none;
	}
}

.headline {
	font-weight: normal;
	background-color: lightgrey;

	&:hover {
		text-decoration: none;
	}
}

.categories {

	&:hover {
		text-decoration: none;
		.dropshadow;
		background: @skyBlue;
		color: @white;

		&:after {
			color: @skyBlue;
		}
	}

	&:after {
		.fa-pseudo;
		content: '\f054';
		position: absolute;
		right: 15%;
	}
}

.categories--active {
	&:hover {
		text-decoration: none;
		.dropshadow;
		background: @skyBlue;
		color: @white;

	}

	&:after {
		.fa-pseudo;
		content: '\f053';
		position: absolute;
		right: 15%;
	}
}

.sub-menu {
	color: #808080;

	&:hover {
		text-decoration: none;
		.dropshadow;
		background: @skyBlue;
		color: @white;

		&:after {
			color: @skyBlue;
		}
	}

	&:after {
		.fa-pseudo;
		content: '\f054';
		position: absolute;
		right: 15%;
	}
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.sign-footer {
	padding-top:30px;
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-bar {
	border-top: transparent !important;
	border-left: transparent !important;
	border-right: transparent !important;
	border-bottom: transparent !important;
}

.mobile-search-icon {

	&:after {
		.fa-pseudo;
		content: '\f002';
		position: absolute;
		right: 15%;
	}
}
