.related-reading__wrapper {
	.wrapper;
	display: flex;
	flex-direction: column;
}

.related-reading__article__container {
	display: flex;
	flex-direction: column;
	padding: 15px;
	height: 100%;
}

.related-reading__header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 25px;
	border-bottom: 1px @orange solid;
}

.related-reading__header__label {
	font-weight: @bold;
	font-size: 20px;
	border-bottom: 5px @orange solid;
	padding-bottom: 5px;
}

.related-reading__header__more {
	color: @lightBlue;
	&:after {
		.fa-pseudo;
		content: '\f101';
		margin-left: 5px;
	}
}

.related-reading__articles {
	display: flex;
	justify-content: space-between;
}

.related-reading__article {
	width: 32%;
	background: @white;
	.dropshadow;
	display: flex;
	flex-direction: column;
	&:hover {
		text-decoration: none;
	}
}

.related-reading__article__thumbnail {
	height: 200px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	flex-shrink: 0;
}

.related-reading__article__type {
	color: @grey;
	font-size: 13px;
	padding-bottom: 5px;
	border-bottom: 1px @lightGrey solid;
	margin-bottom: 10px;
}

.related-reading__article__header {
	font-size: 25px;
	font-weight: @bold;
	color: @black;
	margin-bottom: 10px;
}

.related-reading__article__description {
	color: @black;
	line-height: 24px;
	margin-bottom: 10px;
}

.related-reading__article__more {
	color: @orange;
	margin: auto 0 10px auto;
	&:after {
		.fa-pseudo;
		content: '\f054';
		font-size: 12px;
		margin-left: 5px;
		position: relative;
	}
}

.related-reading__article__author {
	display: flex;
	align-items: center;
	border-top: 1px @lightGrey solid;
	padding-top: 10px;
}

.related-reading__article__author-meta {
	display: flex;
	flex-direction: column;
	padding-left: 10px;
}

.related-reading__article__avatar {
	width: 50px;
	height: 50px;
	background-position: center center;
	background-size: cover;
	border-radius: 50%;
	border: 1px @lightGrey solid;
}

.related-reading__article__author-name, .related-reading__article__author-title {
	color: @black;
	font-size: 13px;
}
