* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	font-family: @roboto;
	font-size: 16px;
	color: @black;
	background-color: @lighterGrey;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.wrapper() {
	max-width: 1180px + (@wrapperPadding * 2);
	width: 100%;
	padding: 0 @wrapperPadding;
	margin: 0 auto;
}

.wrapper {
	.wrapper();
}

.cf {
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

.fa-pseudo() {
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: @fa-font;
	font-weight: 900;
}

.dropshadow() {
	box-shadow: 0 3px 6px 0 fade(@black, 15%);
}
