.top-bar__container {
	background: @white;
	.dropshadow;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

.top-bar__wrapper {
	.wrapper;
	display: flex;
	align-items: center;
	padding: 15px 55px;
}

.top-bar__text {
	font-size: 16px;
	line-height: 24px;
	padding-right: 15px;
	margin-right: auto;
	font-weight: @medium;
}

.top-bar__button {
	display: block;
	background: @white;
	color: @lightBlue;
	border: 1px @lightBlue solid;
	font-weight: @bold;
	padding: 10px 35px;
	text-decoration: none;
	flex-shrink: 0;
	transition: background 50ms linear, color 50ms linear;
	&:hover {
		background: @lightBlue;
		color: @white;
		text-decoration: none;
	}
}
