// Fonts
@import (inline) url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import 'fa/fontawesome';
@import 'fa/fa-solid';
@import 'fa/fa-brands';
@import 'fa/fa-regular';

@roboto: 'Roboto', Arial, sans-serif;
@georgia: Georgia, serif;
@fa-font: 'Font Awesome 5 Free';

// Colors
@black: #000000;
@white: #FFFFFF;
@lighterGrey: #F6F6F6;
@lightGrey: #D5D5D5;
@grey: #95989A;
@darkGrey: #707070;
@darkerGrey: #484848;
@orange: #FFA000;
@skyBlue: #66E0FF;
@lightBlue: #00AEEF;
@blue: #007FBC;
@darkBlue: #01537A;

// Weights
@light: 300;
@regular: 400;
@medium: 500;
@bold: 700;

// Sizes
@wrapperPadding: 20px;
