.related-reading
	.related-reading__wrapper
		.related-reading__header
			span.related-reading__header__label Related Reading
			a(href="#").related-reading__header__more See All
		.related-reading__articles
			a(href="#").related-reading__article
				span(style=`background-image: url(${mlp}/img/stock1.jpg)`).related-reading__article__thumbnail
				span.related-reading__article__container
					span.related-reading__article__type Article
					span.related-reading__article__header Moving at Warp Speed to Out-Innovate the Competition
					span.related-reading__article__more Read more
					span.related-reading__article__author
						span(style=`background-image: url(${mlp}/img/pic.jpg)`).related-reading__article__avatar
						span.related-reading__article__author-meta
							span.related-reading__article__author-name Danny Baranowsky
							span.related-reading__article__author-title Aerospace Equipment Business Specialist
			a(href="#").related-reading__article
				span.related-reading__article__container
					span.related-reading__article__type Article
					span.related-reading__article__header Moving at Warp Speed to Out-Innovate the Competition
					span.related-reading__article__description Soufflé tiramisu toffee sweet roll croissant. Cookie Soufflé tiramisu toffee sweet roll croissant. Cookie gummies cotton candy. Cake gummi bears bear claw donut jelly beans caramels icing. Cookie gummies cotton candy. Cake gummi bears bear.
					span.related-reading__article__more Read more
					span.related-reading__article__author
						span(style=`background-image: url(${mlp}/img/pic.jpg)`).related-reading__article__avatar
						span.related-reading__article__author-meta
							span.related-reading__article__author-name Danny Baranowsky
							span.related-reading__article__author-title Aerospace Equipment Business Specialist
			a(href="#").related-reading__article
				span.related-reading__article__container
					span.related-reading__article__type Article
					span.related-reading__article__header Moving at Warp Speed to Out-Innovate the Competition
					span.related-reading__article__description Soufflé tiramisu toffee sweet roll croissant. Cookie Soufflé tiramisu toffee sweet roll croissant. Cookie gummies cotton candy. Cake gummi bears bear claw donut jelly beans caramels icing. Cookie gummies cotton candy. Cake gummi bears bear.
					span.related-reading__article__more Read more
					span.related-reading__article__author
						span(style=`background-image: url(${mlp}/img/pic.jpg)`).related-reading__article__avatar
						span.related-reading__article__author-meta
							span.related-reading__article__author-name Danny Baranowsky
							span.related-reading__article__author-title Aerospace Equipment Business Specialist
