.hero(style=`background-image: url(${mlp}/img/stock1.jpg)`)
	.hero__wrapper.hero__wrapper--short
		.hero__description
			span.hero__description__header Blog
			span.hero__description__content Implementing a new enterprise software system can be a long and challenging process. Taking time to prepare for this major change will help ensure your software implementation process runs smoothly and efficiently.
