.top-bar.js-topbar
	.top-bar__container.js-topbar-container
		.top-bar__wrapper
			span.top-bar__text Compare top solutions in 40+ software categories—including ERP, BI, and CRM. Get the results immediately, for FREE.
			a(href="#").top-bar__button Compare Now
