extends layout/layout

block content
	include components/small-hero
	include components/top-bar
	.content
		.content__wrapper
			.content__box
				.content__box-background
					.content__top-meta
						span(style=`background-image: url(${mlp}/img/pic.jpg)`).content__top-meta__avatar
						.content__top-meta__infos
							span.content__top-meta__author Written by
								span.content__top-meta__author-name Danny Baranowsky
							.content__top-meta__infos-bottom
								span.content__top-meta__date February 27, 2018
								span.content__top-meta__read-time
									i.far.fa-bookmark.content__top-meta__read-time-icon
									span 8 min read
					.content__content
						h2.content__content__top-header 6 Steps for Preparing for the Implementation of New Enterprise Software
						p.content__content__text Before moving forward with the steps outlined below, it’s important to appoint one of your own staff to serve as internal project manager to oversee the pre-implementation steps as well as the implementation. This person is not only responsible for supervising the technical aspects of the implementation, but for championing the new solution and keeping employees informed of the changes. Your implementation partner will handle their deliverables, but you cannot expect them to take responsibility for your internal requirements and timelines. Having your own person responsible for that protects your organization’s interests and ensures your software implementation project moves along as it should.
						img(src=`${mlp}/img/stock2.jpg`).content__content__image
						h3.content__content__sub-header Step 1: Consider Your Processes and Procedures
						p.content__content__text If you’ve done your homework during the software selection phase, only minimal alignment between your software and your processes should be required during implementation. Keep in mind that there are always adjustments and alignments to be made: you must look at process fit while making your software selection.
						p.content__content__text This is a good time to review reporting requirements (more on this below), what sort of dashboards will need to be set up for different users/departments, and any basic configurations that you’ll want to bring to the attention of the implementation contractor.
						h3.content__content__sub-header Step 2: Assess Your IT Infrastructure
						p.content__content__text If your organization will be implementing a cloud-based solution, be sure your internet connection is secure and reliable—that connection will be your lifeline for every operation performed with your new software.
						p.content__content__text Any internet downtime means no access to your systems until you’re connected again. You must therefore be certain to build in redundancy so you have always-on capability. Also make sure you have more than enough bandwidth to prevent system slowdowns, especially during periods of peak use.
						p.content__content__text For on-premise systems—meaning software run on your own servers—be sure to not only have regular, ongoing backups, but also enough redundancy built in to avoid downtime. Make certain that you have a disaster recovery solution in place in case some problem should occur that results in a service interruption.
						p.content__content__pullquote If your organization will be implementing a cloud-based solution, be sure your internet connection is secure and reliable—that connection will be your lifeline for every operation performed with your new software.
						h3.content__content__sub-header Step 3: Ask What Existing Software (If Any) Is Being Retained
						p.content__content__text What provisions have been made for functions or business processes that will not be supported by your new software? If you plan to continue using any of your existing software solutions, will they be able to communicate/integrate with the new system? Make sure that any software that’s being retained is compatible with the new solution and, if necessary, will be integrated with the new solution during implementation.
						p.content__content__text Determine What Software Features
							a(href="#").content__content__link  You Need with an RFP Template
						h3.content__content__sub-header Step 4: Define User Roles and Security Levels
						p.content__content__text Manage user access to protect your dataThink about who will use the new software and the departments or business units they occupy. You’ll want to assign your users to job functions so that applications and data can be accessed, viewed, and modified by the correct user groups.
						p.content__content__text The ever-present issue of security is closely related to users and their roles. For example, with employee self-service portals becoming more popular in human resources (HR) programs, it makes sense that an employee will be able to access information such as their paystubs or vacation hours. But that the same employee must only be able to view the information, not alter it. However, you may want them to be able to alter other information, such as their current address. Such user-defined and role-defined permissions apply to many different job functions and also to various types of software applications.
						span.content__content__cta-text Determine what software features you need with an RFP Template
						a(href="#").content__content__cta-button RFP Template
						p.content__content__text Keep in mind that many threats and data breaches originate internally—managing user access rights can help protect your data. In many cases, internal breaches happen by accident—this risk can be mitigated by carefully limiting users’ permissions and access to data.
						p.content__content__text In terms of external threats to security and data integrity, it’s important to verify your internet connections along with what types of data can be accessed via the internet. Be sure to ascertain that the applications themselves will be protected against outside threats via firewalls.
						p.content__content__text Mobility adds another layer of complexity to security questions. What happens, for example, if a mobile device is misplaced or stolen? Also, have you considered what safety measures to apply if a mobile device uses an unsecured wireless network (such as in an airport or coffee shop) to connect to your internal network? You might want to define differing levels of permission based on such criteria.
						h3.content__content__sub-header Step 5: Clean Up and Prepare Your Data
						p.content__content__text Just as when you prepare to move house, the pre-implementation phase gives you a chance to trash some unnecessary clutter. In addition to the data you regularly access, consider what to do about these four possibilities:
						p.content__content__text Entries that have been duplicated and which now reside in more than one location Outdated data (this must be archived properly, if applicable) Data from outside the system (such as from spreadsheets) Data containing personally identifiable information (PII)—especially if your business must comply with GPDR or other such regulations, it is important to keep safeguards in place
						a(href="#").content__content__external
							span.content__external__thumbnail(style=`background-image: url(${mlp}/img/stock3.jpg)`)
							span.content__external__content
								span.content__external__header
									span.content__external__title Software Companies Running on NetSuite
									span.content__external__tag Article
								span.content__external__description NetSuite, a provider of cloud-based financials, enterprise resource planning (ERP)
								span.content__external__link Read More
						h3.content__content__sub-header Step 6: Get Your Reporting in Order
						p.content__content__text Much like data, it makes sense to use this time to clean up your reporting as you head into an implementation. The primary consideration is to ask how your reporting aligns with your organization’s goals and objectives.
						p.content__content__text Consider strategic and tactical objectives, key performance indicators (KPIs), daily decisions, strategic decisions, and any compliance/regulatory requirements that apply to your business. Implementation is the perfect opportunity to make sure that all of your reporting will support these considerations.
						p.content__content__text Dicuss how your reporting aligns with your company's goals and objectives
						p.content__content__text In some sense, reporting is a key purpose of the software. Your processes generate data on events and transactions. The software functions to capture that data and you need its processing power to make use of the data through reports. Ask yourself these two questions: What reports are currently being run (pre-implementation) and will all of them still be needed? If some reporting no longer fulfills any necessary purpose, now is a good time to stop generating those reports. What reports would be useful, but have not yet been run? These you will want to implement as soon as possible as implementation gets underway.
						h3.content__content__sub-header Final Thoughts
						p.content__content__text The implementation of a new software system can be a time-consuming and sometimes difficult process. By taking the time to properly prepare for your implementation project, you can increase your chances of success. If you have any questions or would like guidance on your implementation project, TEC’s experts are here to help. Contact us today.
				.content__author
					span(style=`background-image: url(${mlp}/img/pic.jpg)`).content__author__avatar
					span.content__author__description
						a(href="#").content__author__link Danny Baranowski
						|  focuses on the enterprise applications market. He has over 20 years of industrial experience within the discrete manufacturing sector, including the machinery and equipment, automotive, construction and engineering, and electronics industries.
			aside.content__sidebar
				.content__sidebar__toc
					span.content__sidebar__header Table of Contents:
					a(href="#").content__sidebar__link Step 1: Consider Your Processes and Procedures
					a(href="#").content__sidebar__link Step 2: Assess Your IT Infrastructure
					a(href="#").content__sidebar__link Step 3: Ask What Existing Software (If Any) Is Being Retained
					a(href="#").content__sidebar__link Step 4: Define User Roles and Security Levels
					a(href="#").content__sidebar__link Step 5: Clean Up and Prepare Your Data
					a(href="#").content__sidebar__link Step 6: Get Your Reporting in Order Final Thoughts
				a(href="#")
					img(src=`${mlp}/img/banner.jpg`)
	include components/related-reading
