footer.main-footer
	.main-footer__links
		.main-footer__column.col-sm-3
			span.main-footer__column-header Company
			a(href="#").main-footer__link About
			a(href="#").main-footer__link Contact
			a(href="#").main-footer__link Analyst Team
			a(href="#").main-footer__link TEC News &amp; Events
			a(href="#").main-footer__link Careers
		.main-footer__column.col-sm-3
			span.main-footer__column-header Partnerships
			a(href="#").main-footer__link Media
			a(href="#").main-footer__link Venors &amp; Resellers
			a(href="#").main-footer__link Certification
			a(href="#").main-footer__link Accreditation
			a(href="#").main-footer__link Consultants
			a(href="#").main-footer__link Campus Program
		.main-footer__column.col-sm-3
			span.main-footer__column-header TEC Divisions
			a(href="#").main-footer__link Connectivia
			a(href="#").main-footer__link RFP Alert Services
			a(href="#").main-footer__link Coginov
			a(href="#").main-footer__link Entreprise Software Showcase
		.main-footer__column.col-sm-3
			a(href="#").main-footer__language-switch English (US)
		.main-footer__wrapper
	.main-footer__small-print
		.main-footer__left.col-sm-9
			a(href="#").main-footer__small-print__link Privacy Policy
			a(href="#").main-footer__small-print__link Terms of Use
			a(href="#").main-footer__small-print__link Sitemap
		.main-footer__right.col-sm-3
			a(href="#").main-footer__social-link
				i.fab.fa-linkedin-in
			a(href="#").main-footer__social-link
				i.fab.fa-facebook-f
			a(href="#").main-footer__social-link
				i.fab.fa-twitter
			a(href="#").main-footer__social-link
				i.fab.fa-google-plus-g
		.main-footer__wrapper.main-footer__wrapper--centered
