header.main-nav.navMobile
	.main-nav__outer-wrapper
		.main-nav__wrapper
			.main-nav__left
				a(href="#").main-nav__logo
					img(src=`${mlp}/img/logo.png`)
			.main-nav__right
				a(href="#").main-nav__right__link
					i.fas.fa-bars
				.sidenav
					.closebtn &times

					a.mobile-menu.categories.SC Software Categories

						a.mobile-menu.sub-menu.sub-SC.ERP.hidden ERP
							a.mobile-menu.headline.sub-erp.hidden ERP Systems
								a(href="#").mobile-menu.sub-erp.link.hidden ERP Systems List
								a(href="#").mobile-menu.sub-erp.link.hidden ERP Systems Comparaisons
							a.mobile-menu.headline.sub-erp.hidden Selections & Evaluation Tools
								a(href="#").mobile-menu.sub-erp.link.hidden RFP Templates
								a(href="#").mobile-menu.sub-erp.link.hidden Software Feature Reports
								a(href="#").mobile-menu.sub-erp.link.hidden Feature Comparaison Reports
								a(href="#").mobile-menu.sub-erp.link.hidden Selection App
							a.mobile-menu.headline.sub-erp.hidden Articles & Reports
								a(href="#").mobile-menu.sub-erp.link.hidden Software Reviews
								a(href="#").mobile-menu.sub-erp.link.hidden Selection & Buyer's Guides
								a(href="#").mobile-menu.sub-erp.link.hidden Industry News & Analysis
								a(href="#").mobile-menu.sub-erp.link.hidden White Papers & Case Studies 

						a.mobile-menu.sub-menu.sub-SC.BI.hidden BI
							a.mobile-menu.headline.sub-BI.hidden BI Systems
								a(href="#").mobile-menu.sub-BI.link.hidden BI Systems List
								a(href="#").mobile-menu.sub-BI.link.hidden BI Systems Comparaisons
							a.mobile-menu.headline.sub-BI.hidden Selections & Evaluation Tools
								a(href="#").mobile-menu.sub-BI.link.hidden RFP Templates
								a(href="#").mobile-menu.sub-BI.link.hidden Software Feature Reports
								a(href="#").mobile-menu.sub-BI.link.hidden Feature Comparaison Reports
								a(href="#").mobile-menu.sub-BI.link.hidden Selection App
							a.mobile-menu.headline.sub-BI.hidden Articles & Reports
								a(href="#").mobile-menu.sub-BI.link.hidden Software Reviews
								a(href="#").mobile-menu.sub-BI.link.hidden Selection & Buyer's Guides
								a(href="#").mobile-menu.sub-BI.link.hidden Industry News & Analysis
								a(href="#").mobile-menu.sub-BI.link.hidden White Papers & Case Studies

						a.mobile-menu.sub-menu.sub-SC.CRM.hidden CRM
							a.mobile-menu.headline.sub-CRM.hidden CRM Systems
								a(href="#").mobile-menu.sub-CRM.link.hidden CRM Systems List
								a(href="#").mobile-menu.sub-CRM.link.hidden CRM Systems Comparaisons
							a.mobile-menu.headline.sub-CRM.hidden Selections & Evaluation Tools
								a(href="#").mobile-menu.sub-CRM.link.hidden RFP Templates
								a(href="#").mobile-menu.sub-CRM.link.hidden Software Feature Reports
								a(href="#").mobile-menu.sub-CRM.link.hidden Feature Comparaison Reports
								a(href="#").mobile-menu.sub-CRM.link.hidden Selection App
							a.mobile-menu.headline.sub-CRM.hidden Articles & Reports
								a(href="#").mobile-menu.sub-CRM.link.hidden Software Reviews
								a(href="#").mobile-menu.sub-CRM.link.hidden Selection & Buyer's Guides
								a(href="#").mobile-menu.sub-CRM.link.hidden Industry News & Analysis
								a(href="#").mobile-menu.sub-CRM.link.hidden White Papers & Case Studies

						a.mobile-menu.sub-menu.sub-SC.HCM.hidden HCM
							a.mobile-menu.headline.sub-HCM.hidden HCM Systems
								a(href="#").mobile-menu.sub-HCM.link.hidden HCM Systems List
								a(href="#").mobile-menu.sub-HCM.link.hidden HCM Systems Comparaisons
							a.mobile-menu.headline.sub-HCM.hidden Selections & Evaluation Tools
								a(href="#").mobile-menu.sub-HCM.link.hidden RFP Templates
								a(href="#").mobile-menu.sub-HCM.link.hidden Software Feature Reports
								a(href="#").mobile-menu.sub-HCM.link.hidden Feature Comparaison Reports
								a(href="#").mobile-menu.sub-HCM.link.hidden Selection App
							a.mobile-menu.headline.sub-HCM.hidden Articles & Reports
								a(href="#").mobile-menu.sub-HCM.link.hidden Software Reviews
								a(href="#").mobile-menu.sub-HCM.link.hidden Selection & Buyer's Guides
								a(href="#").mobile-menu.sub-HCM.link.hidden Industry News & Analysis
								a(href="#").mobile-menu.sub-HCM.link.hidden White Papers & Case Studies

						a.mobile-menu.sub-menu.sub-SC.SCM.hidden SCM
							a.mobile-menu.headline.sub-SCM.hidden SCM Systems
								a(href="#").mobile-menu.sub-SCM.link.hidden SCM Systems List
								a(href="#").mobile-menu.sub-SCM.link.hidden SCM Systems Comparaisons
							a.mobile-menu.headline.sub-SCM.hidden Selections & Evaluation Tools
								a(href="#").mobile-menu.sub-SCM.link.hidden RFP Templates
								a(href="#").mobile-menu.sub-SCM.link.hidden Software Feature Reports
								a(href="#").mobile-menu.sub-SCM.link.hidden Feature Comparaison Reports
								a(href="#").mobile-menu.sub-SCM.link.hidden Selection App
							a.mobile-menu.headline.sub-SCM.hidden Articles & Reports
								a(href="#").mobile-menu.sub-SCM.link.hidden Software Reviews
								a(href="#").mobile-menu.sub-SCM.link.hidden Selection & Buyer's Guides
								a(href="#").mobile-menu.sub-SCM.link.hidden Industry News & Analysis
								a(href="#").mobile-menu.sub-SCM.link.hidden White Papers & Case Studies

					a.mobile-menu.categories.RR Research Resources
						a.mobile-menu.headline.sub-RR.hidden Selection & Evaluation Tools
							a(href="#").mobile-menu.sub-RR.link.hidden RFP Templates
							a(href="#").mobile-menu.sub-RR.link.hidden Software Feature Lists
							a(href="#").mobile-menu.sub-RR.link.hidden Software Comparaison Charts
							a(href="#").mobile-menu.sub-RR.link.hidden Software Selection App
						a.mobile-menu.headline.sub-RR.hidden Article & Reports
							a(href="#").mobile-menu.sub-RR.link.hidden Buyer's Guides
							a(href="#").mobile-menu.sub-RR.link.hidden Blog
							a(href="#").mobile-menu.sub-RR.link.hidden Industry Reports & Analysis
							a(href="#").mobile-menu.sub-RR.link.hidden White Papers
							a(href="#").mobile-menu.sub-RR.link.hidden Software Reviews
							a(href="#").mobile-menu.sub-RR.link.hidden Customer Satisfaction Reports
							a(href="#").mobile-menu.sub-RR.link.hidden Case Studies 

					a.mobile-menu.categories.SS Selection Services
						a(href="#").mobile-menu.sub-SS.link.hidden About Selection Service 
						a(href="#").mobile-menu.sub-SS.link.hidden Software Selection Programs 
						a(href="#").mobile-menu.sub-SS.link.hidden Our Proven Approach
						a(href="#").mobile-menu.sub-SS.link.hidden Advisory Services
						a(href="#").mobile-menu.sub-SS.link.hidden Meet Our Experts
						a(href="#").mobile-menu.sub-SS.link.hidden Our Clients

					.menu-footer
						a(href="#").mobile-menu
							input(type='block' name='nav_right_search' size='12' placeholder='Search').search-bar
							i.mobile-search-icon
						.sign-footer
							a(href="#").main-nav__right__link.sidenav--footer.link.col-sm-6 Sign In
							a(href="#").main-nav__button.sidenav--footer.col-sm-6 Sign Up
