header.main-nav.navDesktop
	.main-nav__outer-wrapper
		.main-nav__wrapper
			.main-nav__left
				a(href="#").main-nav__logo
					img(src=`${mlp}/img/logo.png`)
				a(data-megamenu="categories").js-megamenu-link.main-nav__left__link Software Categories
				a(data-megamenu="resources").js-megamenu-link.main-nav__left__link Research Resources
				a(data-megamenu="services").js-megamenu-link.main-nav__left__link Selection Services
			.main-nav__right
				a(href="#").main-nav__right__link
					input(type='hidden' name='nav_right_search' size='10' value='Search')
					i.fas.fa-search
				a(href="#").main-nav__right__link Sign In
				a(href="#").main-nav__button Sign Up
	.megamenu__wrapper
		.megamenu__arrow.js-megamenu-arrow
		.main-nav__megamenu.js-megamenu-page(data-megamenu="categories")
			.megamenu__content
				aside.megamenu__sidebar
					a.megamenu__sidebar__link.megamenu__erp.megamenu__sidebar__link--active ERP
					a.megamenu__sidebar__link.megamenu__bi BI
					a.megamenu__sidebar__link.megamenu__crm CRM
					a.megamenu__sidebar__link.megamenu__hcm HCM
					a.megamenu__sidebar__link.megamenu__scm SCM
				.megamenu__links.MM-Sections.ERP-section
					.megamenu__links__section
						span.megamenu__links__header ERP Systems
						a(href="#").megamenu__link
							span.megamenu__link__title What is ERP?
							span.megamenu__link__desc An introduction to enterprise resource planning systems
						a(href="#").megamenu__link
							span.megamenu__link__title Top ERP Systems List
							span.megamenu__link__desc Explore the best ERP solutions on the market, book a demo, and get pricing
						a(href="#").megamenu__link
							span.megamenu__link__title ERP Head-to-Head
							span.megamenu__link__desc A vs B solution comparisons and feature overviews
					.megamenu__links__section
						span.megamenu__links__header Evaluation &amp; Selection Tools
						a(href="#").megamenu__link
							span.megamenu__link__title ERP RFP Templates
							span.megamenu__link__desc Define your feature requirements and prepare your ERP project for vendors
						a(href="#").megamenu__link
							span.megamenu__link__title ERP Software Feature Lists
							span.megamenu__link__desc Complete ERP module and feature lists for specific solutions
						a(href="#").megamenu__link
							span.megamenu__link__title ERP Comparison Charts
							span.megamenu__link__desc Compare ERP features for multiple solutions
						a(href="#").megamenu__link
							span.megamenu__link__title ERP Selection App
							span.megamenu__link__desc Try TEC Advisor to build a custom shortlist, compare value and select software
					.megamenu__links__section
						span.megamenu__links__header ERP Research Resources
						a(href="#").megamenu__link
							span.megamenu__link__title ERP Selection &amp; Buyer's Guides
							span.megamenu__link__desc Detailed guides for making the best ERP software buying decisions
						a(href="#").megamenu__link
							span.megamenu__link__title ERP Software Reviews
							span.megamenu__link__desc Impartial ERP reviews by our expert analysts
						a(href="#").megamenu__link
							span.megamenu__link__title ERP News Articles
							span.megamenu__link__desc Stay up to date with the latest industry happenings, trends, and events.
						a(href="#").megamenu__link
							span.megamenu__link__title ERP Industry Reports
							span.megamenu__link__desc Follow ERP technology and marketplace trends, gain valuable insights
			
				.megamenu__links.MM-Sections.BI-section.hidden
					.megamenu__links__section
						span.megamenu__links__header BI Solutions
						a(href="#").megamenu__link
							span.megamenu__link__title What is BI?
							span.megamenu__link__desc An introduction to enterprise resource planning systems
						a(href="#").megamenu__link
							span.megamenu__link__title Top BI Solutions List
							span.megamenu__link__desc Explore the best BI solutions on the market, book a demo, and get pricing
						a(href="#").megamenu__link
							span.megamenu__link__title BI Head-to-Head
							span.megamenu__link__desc A vs B solution comparisons and feature overviews
					.megamenu__links__section
						span.megamenu__links__header Evaluation &amp; Selection Tools
						a(href="#").megamenu__link
							span.megamenu__link__title BI RFP Templates
							span.megamenu__link__desc Request For Proposal templates to define your feature requirements
						a(href="#").megamenu__link
							span.megamenu__link__title BI Software Feature Lists
							span.megamenu__link__desc Complete capabilities profiles for specific BI solutions
						a(href="#").megamenu__link
							span.megamenu__link__title BI Comparison Charts
							span.megamenu__link__desc Compare BI features for multiple solutions
						a(href="#").megamenu__link
							span.megamenu__link__title BI Selection App
							span.megamenu__link__desc Try TEC Advisor to build a custom shortlist, compare value and select software
					.megamenu__links__section
						span.megamenu__links__header BI Research Resources
						a(href="#").megamenu__link
							span.megamenu__link__title BI Selection &amp; Buyer's Guides
							span.megamenu__link__desc Detailed guides for making the best BI software buying decisions
						a(href="#").megamenu__link
							span.megamenu__link__title BI Software Reviews
							span.megamenu__link__desc Impartial BI reviews by our expert analysts
						a(href="#").megamenu__link
							span.megamenu__link__title BI News Articles
							span.megamenu__link__desc Stay up to date with the latest industry happenings, trends, and events.
						a(href="#").megamenu__link
							span.megamenu__link__title BI Industry Reports
							span.megamenu__link__desc Follow BI technology and marketplace trends, gain valuable insights

				.megamenu__links.MM-Sections.CRM-section.hidden
					.megamenu__links__section
						span.megamenu__links__header CRM Software
						a(href="#").megamenu__link
							span.megamenu__link__title What is CRM?
							span.megamenu__link__desc An introduction to enterprise resource planning systems
						a(href="#").megamenu__link
							span.megamenu__link__title Top CRM Solutions List
							span.megamenu__link__desc Explore the best CRM solutions on the market, book a demo, and get pricing
						a(href="#").megamenu__link
							span.megamenu__link__title CRM Head-to-Head
							span.megamenu__link__desc A vs B solution comparisons and feature overviews
					.megamenu__links__section
						span.megamenu__links__header Evaluation &amp; Selection Tools
						a(href="#").megamenu__link
							span.megamenu__link__title CRM RFP Templates
							span.megamenu__link__desc Request For Proposal templates to define your feature requirements
						a(href="#").megamenu__link
							span.megamenu__link__title CRM Software Feature Lists
							span.megamenu__link__desc Complete capabilities profiles for specific CRM solutions
						a(href="#").megamenu__link
							span.megamenu__link__title CRM Comparison Charts
							span.megamenu__link__desc Compare CRM features for multiple solutions
						a(href="#").megamenu__link
							span.megamenu__link__title CRM Selection App
							span.megamenu__link__desc Try TEC Advisor to build a custom shortlist, compare value and select software
					.megamenu__links__section
						span.megamenu__links__header CRM Research Resources
						a(href="#").megamenu__link
							span.megamenu__link__title CRM Selection &amp; Buyer's Guides
							span.megamenu__link__desc Detailed guides for making the best CRM software buying decisions
						a(href="#").megamenu__link
							span.megamenu__link__title CRM Software Reviews
							span.megamenu__link__desc Impartial CRM reviews by our expert analysts
						a(href="#").megamenu__link
							span.megamenu__link__title CRM News Articles
							span.megamenu__link__desc Stay up to date with the latest industry happenings, trends, and events.
						a(href="#").megamenu__link
							span.megamenu__link__title CRM Industry Reports
							span.megamenu__link__desc Follow CRM technology and marketplace trends, gain valuable insights

				.megamenu__links.MM-Sections.HCM-section.hidden
					.megamenu__links__section
						span.megamenu__links__header HCM Software
						a(href="#").megamenu__link
							span.megamenu__link__title What is HCM?
							span.megamenu__link__desc An introduction to enterprise resource planning systems
						a(href="#").megamenu__link
							span.megamenu__link__title Top HCM Solutions List
							span.megamenu__link__desc Explore the best HCM solutions on the market, book a demo, and get pricing
						a(href="#").megamenu__link
							span.megamenu__link__title HCM Head-to-Head
							span.megamenu__link__desc A vs B solution comparisons and feature overviews
					.megamenu__links__section
						span.megamenu__links__header Evaluation &amp; Selection Tools
						a(href="#").megamenu__link
							span.megamenu__link__title HCM RFP Templates
							span.megamenu__link__desc Request For Proposal templates to define your feature requirements
						a(href="#").megamenu__link
							span.megamenu__link__title HCM Software Feature Lists
							span.megamenu__link__desc Complete capabilities profiles for specific HCM solutions
						a(href="#").megamenu__link
							span.megamenu__link__title HCM Comparison Charts
							span.megamenu__link__desc Compare HCM features for multiple solutions
						a(href="#").megamenu__link
							span.megamenu__link__title HCM Selection App
							span.megamenu__link__desc Try TEC Advisor to build a custom shortlist, compare value and select software
					.megamenu__links__section
						span.megamenu__links__header HCM Research Resources
						a(href="#").megamenu__link
							span.megamenu__link__title HCM Selection &amp; Buyer's Guides
							span.megamenu__link__desc Detailed guides for making the best HCM software buying decisions
						a(href="#").megamenu__link
							span.megamenu__link__title HCM Software Reviews
							span.megamenu__link__desc Impartial HCM reviews by our expert analysts
						a(href="#").megamenu__link
							span.megamenu__link__title HCM News Articles
							span.megamenu__link__desc Stay up to date with the latest industry happenings, trends, and events.
						a(href="#").megamenu__link
							span.megamenu__link__title HCM Industry Reports
							span.megamenu__link__desc Follow HCM technology and marketplace trends, gain valuable insights

				.megamenu__links.MM-Sections.SCM-section.hidden
					.megamenu__links__section
						span.megamenu__links__header SCM Software
						a(href="#").megamenu__link
							span.megamenu__link__title What is SCM?
							span.megamenu__link__desc An introduction to enterprise resource planning systems
						a(href="#").megamenu__link
							span.megamenu__link__title Top SCM Solutions List
							span.megamenu__link__desc Explore the best SCM solutions on the market, book a demo, and get pricing
						a(href="#").megamenu__link
							span.megamenu__link__title SCM Head-to-Head
							span.megamenu__link__desc A vs B solution comparisons and feature overviews
					.megamenu__links__section
						span.megamenu__links__header Evaluation &amp; Selection Tools
						a(href="#").megamenu__link
							span.megamenu__link__title SCM RFP Templates
							span.megamenu__link__desc Request For Proposal templates to define your feature requirements
						a(href="#").megamenu__link
							span.megamenu__link__title SCM Software Feature Lists
							span.megamenu__link__desc Complete capabilities profiles for specific SCM solutions
						a(href="#").megamenu__link
							span.megamenu__link__title SCM Comparison Charts
							span.megamenu__link__desc Compare SCM features for multiple solutions
						a(href="#").megamenu__link
							span.megamenu__link__title SCM Selection App
							span.megamenu__link__desc Try TEC Advisor to build a custom shortlist, compare value and select software
					.megamenu__links__section
						span.megamenu__links__header SCM Research Resources
						a(href="#").megamenu__link
							span.megamenu__link__title SCM Selection &amp; Buyer's Guides
							span.megamenu__link__desc Detailed guides for making the best SCM software buying decisions
						a(href="#").megamenu__link
							span.megamenu__link__title SCM Software Reviews
							span.megamenu__link__desc Impartial SCM reviews by our expert analysts
						a(href="#").megamenu__link
							span.megamenu__link__title SCM News Articles
							span.megamenu__link__desc Stay up to date with the latest industry happenings, trends, and events.
						a(href="#").megamenu__link
							span.megamenu__link__title SCM Industry Reports
							span.megamenu__link__desc Follow SCM technology and marketplace trends, gain valuable insights

			a(href="#").megamenu__big-link
				span.megamenu__big-link__text See all software categories
				i.fas.fa-arrow-right
		.main-nav__megamenu.js-megamenu-page(data-megamenu="resources")
			.megamenu__content
				.megamenu__links
					.megamenu__links__section
						span.megamenu__links__header Selection &amp; Evaluation Tools
						a(href="#").megamenu__link
							span.megamenu__link__title RFP Templates
							span.megamenu__link__desc Define your requirements and prepare your project for vendors
						a(href="#").megamenu__link
							span.megamenu__link__title Software Feature Lists
							span.megamenu__link__desc Complete module and feature lists for specific solutions
						a(href="#").megamenu__link
							span.megamenu__link__title Software Comparison Charts
							span.megamenu__link__desc Compare features across multiple solutions
						a(href="#").megamenu__link
							span.megamenu__link__title Software Selection App
							span.megamenu__link__desc Try TEC Advisor to build a custom shortlist, compare value and select software
					.megamenu__links__section.megamenu__links__section--double
						span.megamenu__links__header Articles &amp; Reports
						.megamenu__links__columns
							.megamenu__links__column
								a(href="#").megamenu__link
									span.megamenu__link__title Selection &amp; Buyer's Guides
									span.megamenu__link__desc What you need to know to make the best software buying decision
								a(href="#").megamenu__link
									span.megamenu__link__title Software Reviews
									span.megamenu__link__desc Detailed impartial reviews by our expert analysts
								a(href="#").megamenu__link
									span.megamenu__link__title Industry Reports &amp; Analysis
									span.megamenu__link__desc Follow technology and marketplace trends, gain valuable insights
								a(href="#").megamenu__link
									span.megamenu__link__title Blog
									span.megamenu__link__desc Stay up to date with the latest software news and guides
							.megamenu__links__column
								a(href="#").megamenu__link
									span.megamenu__link__title White Paper
									span.megamenu__link__desc Informative, practical white papers by industry experts
								a(href="#").megamenu__link
									span.megamenu__link__title Case Studies
									span.megamenu__link__desc Business software selection and implementation success stories
								a(href="#").megamenu__link
									span.megamenu__link__title Customer Satisfaction Reports
									span.megamenu__link__desc Learn from real experiences with resellers, implementers, consultants and more
				aside.megamenu__sidebar.megamenu__sidebar--right
					span Get the latest market news, independent reviews and advice on enterprise software from our industry-savvy research analysts—for free.
					a(href="#").megamenu__sidebar__button Contact Us
		.main-nav__megamenu.js-megamenu-page(data-megamenu="services")
			.megamenu__content
				.megamenu__links
					.megamenu__links__section.megamenu__links__section--triple
						span.megamenu__links__header Selection Services
						.megamenu__links__columns
							.megamenu__links__column
								a(href="#").megamenu__link
									span.megamenu__link__title About Selection Services
									span.megamenu__link__desc Consulting services that help ensure the success of your software project
								a(href="#").megamenu__link
									span.megamenu__link__title Software Selection Programs
									span.megamenu__link__desc Understand your requirements and choose the right solution for your business
							.megamenu__links__column
								a(href="#").megamenu__link
									span.megamenu__link__title Advisory Services
									span.megamenu__link__desc Get help steering through your project, from vendor negotiations to implementation
								a(href="#").megamenu__link
									span.megamenu__link__title Our Proven Approach
									span.megamenu__link__desc Our results-driven approach helps companies succeed
							.megamenu__links__column
								a(href="#").megamenu__link
									span.megamenu__link__title Meet Our Experts
									span.megamenu__link__desc TEC's team of analysts and software selection consultants bring decades of experience
								a(href="#").megamenu__link
									span.megamenu__link__title Our Clients
									span.megamenu__link__desc Hear what our clients are saying about us
				aside.megamenu__sidebar.megamenu__sidebar--right.megamenu__sidebar--large
					span.megamenu__sidebar__header Planning a software selection or assessment project?
					span.megamenu__sidebar__subtitle We’ll save you time, money, and heartache
					.megamenu__sidebar__clipart-container
						img(src=`${mlp}/img/nav-clip.png`).megamenu__sidebar__clipart
					a(href="#").megamenu__sidebar__button Contact Us
