doctype
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0")
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title TEC
		if dev
			link(rel='stylesheet', href=`${mlp}/css/master.css`)
		else
			link(rel='stylesheet', href=`${mlp}/css/${cssHash}`)
	body
		include header
		block content
		include footer
		if dev
			script(src=`${mlp}/js/main.js`)
		else
			script(src=`${mlp}/js/${jsHash}`)
