doctype
html
	head

		//Integration of Jquery & Bootstrap

		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css", integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r", crossorigin="anonymous")
		script(src="https://code.jquery.com/jquery-2.2.4.js", integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=", crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
    
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0")
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title TEC
		if dev
			link(rel='stylesheet', href=`${mlp}/css/master.css`)
		else
			link(rel='stylesheet', href=`${mlp}/css/${cssHash}`)
	body
		include header
		include headerMobile
		block content
		include footerMobile
		if dev
			script(src=`${mlp}/js/main.js`)
		else
			script(src=`${mlp}/js/${jsHash}`)



